<mat-chip-list>
  <mat-chip
    *ngFor="let item of selectedList$ | async"
    (removed)="removeOption(item)"
  >
    {{ item.label }}
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
</mat-chip-list>
<input
  type="text"
  [placeholder]="placeholder"
  aria-label="Number"
  matInput
  #autocompleteInput
  [matAutocomplete]="auto"
  (input)="inputChanged(autocompleteInput.value)"
  (blur)="blurred()"
  [disabled]="isDisabled"
/>
<mat-autocomplete
  #auto="matAutocomplete"
  (optionSelected)="addOption($event, autocompleteInput)"
>
  <mat-option *ngFor="let item of displayList$ | async" [value]="item">
    {{ item.label }}
  </mat-option>
</mat-autocomplete>

<!-- <pre>{{ selectedList$ | async | json }}</pre> -->

<!-- <pre>{{ displayList$ | async | json }}</pre> -->
