<!-- <xxx-multi-select-autocomplete
  [all]="fullList"
  [uniqueIdentifier]="uniqueIdentifierString"
  [label]="labelFn"
  [value]="selectedList"
  name="xyz"
  (selectedListChange)="listChanged($event)"
></xxx-multi-select-autocomplete> -->

<!-- <xxx-multi-select-autocomplete
  [all]="fullList"
  [uniqueIdentifier]="uniqueIdentifierString"
  [label]="labelFn"
  [(ngModel)]="selectedList"
  name="xyz"
></xxx-multi-select-autocomplete>

<pre>{{ selectedList | json }}</pre> -->

<rcm-search placeholder="moo" searchQuery="" (action)="actionHandler($event)">
  <rcm-search-section
    [title]="section1.title"
    [data]="section1.data"
    [columns]="section1.columns"
  ></rcm-search-section>
  <rcm-search-section
    [title]="section2.title"
    [data]="section2.data"
    [columns]="section2.columns"
  ></rcm-search-section>
  <rcm-search-action [actionId]="'abc123'">abc123</rcm-search-action>
  <rcm-search-action [actionId]="'def456'">def456</rcm-search-action>
</rcm-search>

<rcm-search placeholder="poo" searchQuery="" (action)="actionHandler($event)">
  <rcm-search-section>section 1</rcm-search-section>
  <rcm-search-section>section 2</rcm-search-section>
  <rcm-search-action [actionId]="'ABC123'">ABC123</rcm-search-action>
  <rcm-search-action [actionId]="'DEF456'">DEF456</rcm-search-action>
</rcm-search>
