<div class="title">{{ title }}</div>
<table cdk-table [dataSource]="data$">
  <ng-container *ngFor="let column of columns">
    <ng-container [cdkColumnDef]="column.dataProperty">
      <th cdk-header-cell *cdkHeaderCellDef [ngStyle]="{ flex: column.weight || 1 }">
        {{ column.headerText }}
      </th>
      <td cdk-cell *cdkCellDef="let row" [ngStyle]="{ flex: column.weight || 1 }">
        {{ row[column.dataProperty] }}
      </td>
    </ng-container>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="columnNames"></tr>
  <tr
    cdk-row
    [rcmSelectableRow]="row"
    *cdkRowDef="let row; columns: columnNames"
    (click)="rowClick(row)"
  ></tr>
</table>
<div class="overflow-message" *ngIf="showOverflowSection$ | async">
  {{ overflowMessage || defaultOverflowMessage }}
</div>
