<input
  type="text"
  cdkOverlayOrigin
  #searchBox="cdkOverlayOrigin"
  [(ngModel)]="searchQuery"
  [placeholder]="placeholder"
  (ngModelChange)="searchQueryChanged($event)"
  (focus)="searchFocused()"
  (keyup)="onKeydown($event)"
/>
<ng-template
  #overlayTemplate
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="searchBox"
  [cdkConnectedOverlayOpen]="overlayOpen"
  (overlayOutsideClick)="clickOutsideOverlay($event, searchBox)"
>
  <div class="overlay">
    <div class="section-container">
      <ng-content select="rcm-search-section"></ng-content>
    </div>
    <div class="action-container">
      <ng-content select="rcm-search-action, [rcm-search-action]" #action></ng-content>
    </div>
  </div>
</ng-template>
